
%a{:href =>"https://github.com/bakedweb/Inlineit", :target=>"_blank"}
  .github.right


.form
  %form{ :action => "/work", :method => "post", :enctype => "multipart/form-data"}
    .step.left
      %label.file 
        %img{:src =>"/images/1.png"}
        Upload your HTML
        %input{:type => "file", :name => "html", :id => "html"}
    .arrow.left
      %img{:src =>"/images/arrow.png"}
    .step.left
      %label.file 
        %img{:src =>"/images/2.png"}
        Upload your CSS
        %input{:type => "file", :name => "html", :id => "html"}
    .arrow.left
      %img{:src =>"/images/arrow.png"}
  
    %input{:type => "submit", :value => "Inlineit!", :class =>"submit"}
    
.cl

.line


.why.left
  %h2
    No more Inlining by hand!
  %p Forget about spending timeless hours trying to write complicated inlined HTML and CSS. 
  %p Next time you need to create an e-mail marketing template just follow the above steps and you will be done in seconds!
.who.right
  %h2 
    Who's behind this?
  %p  
    %a{ :href => "http://www.ivanacostarubio.com", :target => "BLANK" }
      Ivan Acosta-Rubio
    created it and <a href ="https://twitter.com/bellatrixmartnz", target="_blank"> Bellatrix Martinez</a> helped make it look awesome, this happened while working for 
    %a{ :href => "http://www.bakedweb.net", :target => "BLANK"}
      Bakedweb. 

  %p 
    Real credit is to 
    %a{ :href => "http://tamtam.rubyforge.org/", :target => "BLANK"}
      Tamtam gem 
    to
    %a{ :href => "http://www.sinatrarb.com", :target => "BLANK"}
      Sinatra 
    and Benlovell in #sinatra IRC for pointing the right direction of Testing File uploads on Rack.
